.container{
    margin-top:7%;
    width: 40%;
}
.btn-primary{
    background-color:rgb(8, 65, 30);
    border-radius: 27px;
    color:rgb(255, 255, 255);
    border-color:whitesmoke;
}
.btn-primary:hover{
    background-color:rgb(2, 17, 8);
    border-radius: 27px;
    color:rgb(255, 255, 255);
    border-color:whitesmoke;
}


.bg-primary{
    padding: 3px;
    border-radius: 5px;
    text-align:center ;
    color:rgb(246, 238, 238);
}