.main{
    margin-left: 12%;
    margin-right: 12%;
    width: 84%; 
    margin-top: 3%;
}
.card{
    padding:2px;
    width: 30%; 
    margin-left: 5px;
    margin-top: 5px;
    border-color: rgb(120, 120, 229);
}
.card-header{
    margin: 0;
}
