<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand active" aria-current="page" routerLink="">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link " href="#">Home</a>
          <a class="nav-link" href="#">Users</a>
        </div>
        <div class="navbar-nav">
            <a class="d-flex nav-link " href="#">{{user.getName}}</a>
            <a href="" class="nav-link">
                <i class="bi bi-box-arrow-right"></i>
            </a>
        </div>

      </div>
    </div>
</nav>
<br>
<main class="main">
  <div *ngIf="users.length>0">
    <div class="row ">
      <div class="card col-4" *ngFor="let user of users">
        <h5 class="card-header border border-primary bg-dark text-white">{{user.getName}}</h5>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a routerLink="update" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>



  <p>Default pagination:</p>
<ngb-pagination [collectionSize]="70" [(page)]="page" aria-label="Default pagination"></ngb-pagination>

<p>No direction links:</p>
<ngb-pagination [collectionSize]="70" [(page)]="page" [directionLinks]="false"></ngb-pagination>

<p>With boundary links:</p>
<ngb-pagination [collectionSize]="70" [(page)]="page" [boundaryLinks]="true"></ngb-pagination>

<hr />

<pre>Current page: {{page}}</pre>

</main>

