<main class="container">
  <div *ngIf="users.length>0">
    <div class="row ">
      <div class="card col-3" style="width: 18rem;" *ngFor="let user of users | paginate:{
        itemsPerPage: tableSize,
        currentPage : page,
        totalItems : count
      }; let i = index ">
        <img src="/assets/img/image1.PNG" class="" alt="Not found">
        <div class="card-body">
          <h5 class="card-title">{{user.fullname}}</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a routerLink="/user/{{user.getId}}" class="btn btn-primary stretched-link">Go somewhere</a>
        </div>
      </div>
      </div>
    </div>

  <!-- <div class="container ">
    <table class="table">
      <thead>
        <th>ID</th>
        <th>Fullname</th>
        <th>Age</th>
      </thead>
      <tbody>
        <tr *ngFor="let user of users | paginate:{
              itemsPerPage: tableSize,
              currentPage : page,
              totalItems : count
            }; let i = index  ">
            <td>{{user.getId}}</td>
            <td>{{user.getName}}</td>
            <td>{{user.getAge}}</td>
        </tr>
      </tbody>
    </table> -->
    <div class="fixed mt-5">
      <pagination-controls 
          previousLabel="Prev"
          nextLabel ="Next"
          (pageChange)="onTableDataChange($event)"
        >
      </pagination-controls>
    </div>

  <!-- </div> -->



  <!-- <ngb-pagination
  [(page)]="page"
  [pageSize]="pageSize"
  [collectionSize]="users.length"></ngb-pagination> -->

</main>

