<div class="view-user">
    <div *ngIf="user">
        <div class="row ">
          <div class="card col-6">
            <h5  class="card-header border border-primary bg-primary ">{{user.fullname}}</h5>
            <div class="card-body">
              <h5 class="card-title">{{user.age}}</h5>
              <a routerLink="edit" class="btn btn-success">Modify</a>
            </div>
          </div>
        </div>
      </div>
</div>

<form #userForm="ngForm">
    <div class="form-group mb-3">
      <label>Name</label>
      <input type="text"  ngModel [(ngModel)]="user.getName" minlength="3" required #name="ngModel" 
                name="Name" class="form-control">
      <small class="text-danger" [class.d-none]="name.valid || name.untouched">Name is required </small>
    </div>
</form>