  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid ">
      <a class="navbar-brand active" aria-current="page" routerLink="">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link " routerLink="">Home</a>
          <a class="nav-link" routerLink="add-user">Add User</a>
        </div>
        <div class="navbar-nav">
            <a class="d-flex nav-link " href="#"></a>
        </div>
      </div>
    </div>
</nav>
<router-outlet></router-outlet>